---
layout: default
title: Ricardo Cruz - Blog
active: blog
---
<div class="posts">
{% assign first = true %}
{% for post in site.posts %}
{% if first != true %}<hr class="sep">{% endif %}{% assign first = false %}
<div class="post">
<h3 class="post"><a href="{{ post.url }}">{{ post.title }}</a></h3>
<p class="summary"><span class="date">{{ post.date | date: '%B %d, %Y' }}</span> <span class="category">{{ post.category }}</span></p>
{{ post.excerpt }}
<p class="readmore"><a href="{{ post.url }}">Read more...</a>
</div>
{% endfor %}
</div>
