---
---

/************* PAGE LAYOUT *************/

body {
  background-color: black;
  overflow-y: scroll;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

header {
  color: lightgreen;
}

nav {
  font-family: monospace;
  font-size: large;
}

.navbar-dark .navbar-nav .active > .nav-link {
  color: lightgreen;
}

div.page {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border: 8px white solid;
}

footer {
  color: lightgray;
  text-align: center;
  font-size: small;
  margin-bottom: 10px;
}

footer a {
  margin-left: 40px;
  color: lightgray;
}

/************* CV *************/

.card-body {
    padding: 8px;
}

.card:hover {
    background-color: gray;
}

.card > a {
    color: inherit;
    text-decoration: none;
}

/************* BLOG *************/

h3 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: monospace;
}

h3 > a, p.readmore > a {
  color: green;
}

p.summary {
    font-size: 75%;
    margin-top: 0px;
}

.date {
    font-weight: bold;
}

p.readmore {
    margin-bottom: 0px;
}

hr.sep {
    background-color: black;
    border: none;
    height: 4px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


// FEED tables

table {
    border:2px solid black;
}

th {
    border:1px solid black;
}

td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

code.highlighter-rouge {
    background-color: rgb(250, 250, 250);
    color: black;
    font-weight: bold;
}
