---
---

.spacer { margin:0; padding:0; height:40px; }

body {
    background-color: lightgray;
}

.page {
    background-color: white;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

/* HEADER AND FOOTER */

img.header {
    float: left;
    width: 110px;
    height: 110px;
    margin-top: 15px;
}

img.stretch {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
    cursor: default;
    margin-top: 10px;
    margin-left: 120px;
    margin-bottom: 40px;
}

h1.header {
    margin: 0;
    color: black;
    font-size: 40px;
}

p.header {
    margin: -5px 0 0 0;
    color: gray;
    font-size: 20px;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: lightgray;
  height: 80px;
}

footer {
  padding: 20px 0;
  text-align: center;
}

/* BLOG */

h3.post {
    margin-top: 5px;
    margin-bottom: 0px;
}

p.summary {
    font-size: 75%;
    margin-top: 0px;
}

.date {
    font-weight: bold;
}

p.readmore {
    margin-bottom: 0px;
}

hr.sep {
    background-color: black;
    border: none;
    height: 8px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


// FEED tables

table{
    border:2px solid black;
}

th{
    border:1px solid black;
}

td{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

code.highlighter-rouge {
    background-color: rgb(250, 250, 250);
    color: black;
    font-weight: bold;
}
