---
---



header {
    cursor: default;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.site-avatar {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.site-name {
  margin: 0;
  color: black;
  font-size: 40px;
}

.site-description {
  margin: -5px 0 0 0;
  color: gray;
  font-size: 20px;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
