---
layout: default
title: Ricardo Cruz - CV
active: cv
---

<h5 class="cv" name="education">Education</h5>
<ul>
{% for item in education %}
  <li><b>{{ item.date }} &mdash; {{ item.title }}</b> &mdash; {{ item.university }}{% if item.observation %} <small>{{ item.observation }}</small>{% endif %}</li>
{% endfor %}
</ul>

<h5 class="cv" name="career">Career</h5>
<ul>
{% for item in career %}
  <li><b>{{ item.date }} &mdash; {{ item.title }}</b> &mdash; {{ item.where }}</li>
{% endfor %}
</ul>

<h5 class="cv" name="publications">Publications</h5>

<ol>
{% for item in publications %}
  <li><b><a href="{{ item.link }}" style="color:inherit">{{ item.title }}</a></b><br/>{{ item.authors }}<br/>{{ item.publisher }}</li>
{% endfor %}
</ol>

<h5 class="cv" name="awards">Awards</h5>
<ul>
{% for item in awards %}
  <li><b>{{ item.date }} &mdash; {{ item.title }}</b> &mdash; {{ item.where }}</li>
{% endfor %}
</ul>

<h5 class="cv" name="portfolio">Portfolio</h5>

<div class="no-gutters row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
{% for item in portfolio %}
  <div class="col">
  <a href="{{ item.link }}">
  <div class="card h-100">
    <div class="card-body">
      <h6 class="card-title">{{ item.title }}</h6>
      <p class="card-text">{{ item.description }}</p>
      <img class="card-img-top" src="imgs/cv/{{ item.image }}">
    </div>
  </a>
  </div>
  </div>
{% endfor %}
</div>

<p class="mt-3 text-muted">&#x2b95; Consult <a href="https://github.com/rpmcruz?tab=repositories">my GitHub for a listing of open-source projects</a>.</p>

<h5 class="cv" name="skills">Skills</h5>

<b>Programming:</b> {{ skills.programming|join(', ') }}<br>
<b>Mathematics:</b> {{ skills.mathematics|join(', ') }}

</div>
