<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<meta charset="utf-8" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
{% feed_meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</head>

<body class="container">
{% comment %} header {% endcomment %}
<img class="header" src="{{ site.avatar }}" />
<header>
<h1 class="header">{{ site.name }}</h1>
<p class="header">{{ site.description }}</p>

{% comment %} navigation bar {% endcomment %}
{% assign current = page.url | downcase | split: '/' %}
<nav class="navbar navbar-inverse">
<ul class="nav navbar-nav">
<li {% if page.active == "about" %}class="active"{% endif %}><a href="{{ site.baseurl }}/">About me</a></li>
<li {% if page.active == "blog" %}class="active"{% endif %}><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
</ul>
</nav>
</header>

{{ content }}

{% comment %} footer {% endcomment %}
<div class="wrapper-footer">
<div class="container">
<footer class="footer">
{% include svg-icons.html %}
</footer>
</div>
</div>

</div>

{% include analytics.html %}
</body>
</html>
